<div id="<%= dom_id movimentacao_crediario %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Ficha crediario:</strong>
    <%= movimentacao_crediario.ficha_crediario_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mov tipo:</strong>
    <%= movimentacao_crediario.mov_tipo %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mov valor:</strong>
    <%= movimentacao_crediario.mov_valor %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mov observacao:</strong>
    <%= movimentacao_crediario.mov_observacao %>
  </div>
</div>
