<%= form_with model: @movimentacao, url: estoque_movimentacoes_path ,local: false, html: { id: "movForm" } do |f| %>
  <div class="grid grid-cols-1 gap-4">
 
    <div>
    <%= f.label :emv_tipo, "Tipo de Movimentação", class: "block text-sm font-medium" %>
    <%= f.select :emv_tipo, 
        options_for_select([["Reabastecimento", "reabastecimento"], ["Retirada", "retirada"], ["Devolução", "devolucao"], ["Venda", "venda"]], f.object.emv_tipo),
        { prompt: "Selecione" },
        class: "w-full p-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-[#ed215e] outline-none",
        onchange: "atualizarCamposPorTipo(this.value)" %>
    </div>


   
    <div>
      <%= f.label :produto_id, "Produto", class: "block text-sm font-medium" %>
      <%= f.collection_select :produto_id, @produtos, :id, :nome, { prompt: "Selecione" }, class: "w-full p-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-[#ed215e] outline-none" %>
    </div>

    <div>
      <%= f.label :quantidade, "Quantidade", class: "block text-sm font-medium" %>
      <%= f.number_field :quantidade, min: 1, class: "w-full p-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-[#ed215e] outline-none" %>
    </div>

 
    <div id="campo_valor_unitario" class="hidden">
      <%= f.label :valor_unitario, "Valor Unitário", class: "block text-sm font-medium" %>
      <%= f.number_field :valor_unitario, step: 0.01, class: "w-full p-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-[#ed215e] outline-none" %>
    </div>

   
    <div id="campo_valor_total" class="hidden">
      <%= f.label :valor_total, "Valor Total", class: "block text-sm font-medium" %>
      <%= f.number_field :valor_total, step: 0.01, class: "w-full p-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-[#ed215e] outline-none", readonly: true %>
    </div>

   
    <div id="campo_cliente" class="hidden">
      <%= f.label :cliente_id, "Cliente", class: "block text-sm font-medium" %>
      <%= f.collection_select :cliente_id, @clientes, :id, :cli_nome, { prompt: "Selecione" }, class: "w-full p-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-[#ed215e] outline-none" %>
    </div>
  </div>

  <div class="flex justify-end mt-4 gap-2">
    <%= f.submit "Salvar", class: "px-5 py-2.5 text-sm font-medium text-white bg-tags-rosa border border-transparent 
                   rounded-lg hover:bg-pink-700 transition-all duration-200 cursor-pointer" %>
    <button type="button" onclick="fecharModal('movimentacaoModal')" class="px-5 py-2.5 text-sm font-medium text-gray-700 bg-white border border-gray-300 
                     rounded-lg hover:bg-gray-50 transition-all duration-200 cursor-pointer">Fechar</button>
  </div>
<% end %>


