<div id="<%= dom_id ficha_crediario %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Cliente:</strong>
    <%= ficha_crediario.cliente_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Contratante:</strong>
    <%= ficha_crediario.contratante_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fic valor total:</strong>
    <%= ficha_crediario.fic_valor_total %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fic status:</strong>
    <%= ficha_crediario.fic_status %>
  </div>
</div>
