<%= form_with(model: ficha_crediario, class: "contents") do |form| %>
  <% if ficha_crediario.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(ficha_crediario.errors.count, "error") %> prohibited this ficha_crediario from being saved:</h2>

      <ul class="list-disc ml-6">
        <% ficha_crediario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :cliente_id %>
    <%= form.text_field :cliente_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": ficha_crediario.errors[:cliente_id].none?, "border-red-400 focus:outline-red-600": ficha_crediario.errors[:cliente_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :contratante_id %>
    <%= form.text_field :contratante_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": ficha_crediario.errors[:contratante_id].none?, "border-red-400 focus:outline-red-600": ficha_crediario.errors[:contratante_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :fic_valor_total %>
    <%= form.text_field :fic_valor_total, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": ficha_crediario.errors[:fic_valor_total].none?, "border-red-400 focus:outline-red-600": ficha_crediario.errors[:fic_valor_total].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :fic_status %>
    <%= form.text_field :fic_status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": ficha_crediario.errors[:fic_status].none?, "border-red-400 focus:outline-red-600": ficha_crediario.errors[:fic_status].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
